---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';

import DarkModeToggle from './DarkModeToggle.svelte';
---

<header transition:persist transition:name="header">
  <nav class="flex items-center w-full justify-between">
    <h2><a href="/">{SITE_TITLE}</a></h2>
    <div class="flex items-center">
      <HeaderLink href="/blog">Blog</HeaderLink>
    </div>
    <DarkModeToggle client:load />
  </nav>
</header>
