---
import TableOfContentsHeading from './TableOfContentsHeading.astro';

function buildToc(
  headings: { text: string; depth: number; slug: string }[]
) {
  const toc: any[] = [];
  const parentHeadings = new Map();
  headings.forEach(
    (h: { text: string; depth: number; slug: string }) => {
      const heading = {
        ...h,
        subheadings: [],
      };
      parentHeadings.set(heading.depth, heading);
      // Change 2 to 1 if your markdown includes your <h1>
      if (heading.depth === 2) {
        toc.push(heading);
      } else {
        let parentHeading = parentHeadings.get(heading.depth - 1);
        parentHeading.subheadings.push(heading);
      }
    }
  );
  return toc;
}

interface Props {
  headings: { text: string; depth: number; slug: string }[];
}

const { headings } = Astro.props;

const toc = buildToc(headings);
---

<div class="hidden lg:flex">
  <div class="py-4 2xl:py-16 sticky h-min top-0">
    <div class="ml-8 xl:ml-20 mr-2">
      <ul>
        {
          toc.map((heading) => (
            <TableOfContentsHeading heading={heading} />
          ))
        }
      </ul>
    </div>
  </div>
</div>
