---
import type { CollectionEntry } from 'astro:content';
import BaseLayout from './BaseLayout.astro';
import FormattedDate from '../components/FormattedDate.astro';
import TableOfContents from '../components/TableOfContents.astro';
import { Icon } from 'astro-icon/components';

const {
  frontmatter: {
    title = 'Untitled',
    description,
    disableToc = false,
  },
  headings,
} = Astro.props;
---

<BaseLayout title={title} description={description}>
  <div class="flex justify-center my-12 sm:my-24">
    <article
      class="max-w-full md:py-24 py-12 px-2 bg-gray-100 dark:bg-gray-900 sm:px-8 md:px-16 shadow-neu-light dark:shadow-neu-dark dark:ring-1 ring-cyan-800 rounded-3xl"
    >
      <div class="prose dark:prose-invert lg:prose-lg">
        <div class="title">
          <h1>{title}</h1>
          <hr />
        </div>
        <slot />
        <a
          href="https://github.com/leopeltola"
          target="_blank"
          class="text-gray-400 hover:text-gray-600 dark:text-gray-600 dark:hover:text-gray-400 inline-block w-fit"
          aria-label="GitHub profile"
        >
          <Icon name="mdi:github" class="size-10 sm:size-14" />
        </a>

        <a
          href="https://leopeltola.itch.io/"
          target="_blank"
          class="text-gray-400 ml-4 hover:text-gray-600 dark:text-gray-600 dark:hover:text-gray-400 inline-block w-fit"
          aria-label="Itch.io profile"
        >
          <Icon name="cib:itch-io" class="size-10 sm:size-14" />
        </a>
      </div>
    </article>
    {!disableToc ? <TableOfContents headings={headings} /> : null}
  </div>
</BaseLayout>
